body {
	background-color: #fff;
}

.heading {
	text-align: center;
	border: 3px solid #9d0d0d;
	margin: 1rem 3rem;
	padding: 5rem;
}

.lang-menu ul {
	border: 3px solid black;
	padding: 1rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-inquiry {
	background-color: #ffffff;
	color: #dd3333;
	border: 2px solid #dd3333;
}

.submit-inquiry:hover {
	background-color: #dd3333;
	color: #ffffff;
}

.topnav {
	position: relative;
	overflow: hidden;
	background-color: #9d0d0d;
}

.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.3s;
}

.topnav a.active {
	background-color: #ffffff;
	color: #333;
}

.topnav a:hover {
	background-color: #fff;
	color: #333;
}

.topnav-right {
	float: right;
}